version: '3.8'

services:
  app:
    build: .
    ports:
      - "5001:5001"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/score_board
      - PORT=5001
    depends_on:
      - mongo
    volumes:
      - ./server/public/questions:/app/server/public/questions
    restart: always

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
